
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
/* fallback */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v41/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2) format('woff2');
  }
  
  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -moz-font-feature-settings: 'liga';
    -moz-osx-font-smoothing: grayscale;
  }
  
// Variables
// @import "variables";

// Bootstrap
// @import "~bootstrap-sass/assets/stylesheets/bootstrap";

// .cdb-app-drawer {
    a {
        text-decoration: none;
    }
    
// }

.cdb-toolbar-icon {
    height: 48px;
}

.cdb-bottom-right {
    position: absolute;
    // bottom: -45px;
    right: 0;
    // width: 100%;
}

.close-btn {
    border: none !important;
    right: -5px !important;
    top: -5px !important;
    // z-index: 0 !important;
}

.cus-edit-btn {
    left: 0px !important;
    bottom: 0px !important;
}

.cus-save-btn {
    right: 0px !important;
    bottom: 0px !important;
}

.redText > div.v-input__control > div.v-input__slot > div.v-text-field__slot input{
    color: red !important;
}

.vital-date {
    color: red !important;    
}

.est-note-align {
    padding-top: 21px !important;
}

.bottom-nav {
    justify-content: left !important;
    margin-left: -4px;
}

.bottom-nav > .btn {
    opacity: 1 !important;
    // color: blue !important;
    filter: none !important;
}

#videoDisplay {
    max-height: 80vh;
    min-height: 80vh;
    // height: 100%;
    // width: 100%;
}

/* TRANSITION */
.component-fade-enter-active {
    transition: transform 0.3s ease, opacity 0.5s ease;
}
  
.component-fade-enter, .component-fade-leave-to, .component-fade-leave-active {
    transition: opacity 0s ease;
    transform: translateX(-20%);
    opacity: 0;
}

.component-lightbox-enter-active {
    transition: opacity 0.5s ease;
}
  
.component-lightbox-enter, .component-fade-leave-to, .component-fade-leave-active {
    transition: opacity 0s ease;
    // transform: translateX(-20%);
    opacity: 0;
}

.complete-btn {
    font-size: 3.75em !important;
}

.fab-fix {
    line-height: 1.5em !important;
    font-size: 2em !important;
    z-index: 0 !important;    
}

.fab-up {
    bottom: 5px !important;
}

.new-cus-btn {
    bottom: -8px;
}

.lightBoxWrapper {
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 10;
}

.lightBoxImage {
    width: 65%;
    height: auto;
    object-fit: contain
}

.capture-cont{
    text-align: center;
}

.capture-error{
    width: auto;
    height: auto;
    display: inline-block;
    max-height: 75vh;
}

.shake {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
}

@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }

  .padding-top-8px {
      padding-top: 8px !important;
  }

  .padding-bottom-3px {
      padding-bottom: 3px !important;
  }

@media print {

    * {
        // display: none !important;
        visibility: hidden !important;
        margin: 0px;
    }

    .v-content {
        padding: 0px !important;
    }

    body{
        height: 11in;
        overflow: hidden;
    }

    @page{
        margin: 0mm;
        // size: auto;
    }

    @mixin box-shadow {
        box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);        
    }

    .box-shadow {
        box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);        
    }

    .cb-print {
        // display: block !important;
        visibility: visible !important;
        position: absolute !important;        
        top: 0px;
        left: 0px;
        width: 8in;
        height: 10.5in;
        margin: 0.2in;
        margin-left: 0.2325in;        
        // background-color: red;
    }

    .cb-print-element {
        position: absolute !important;
        visibility: visible !important;
        overflow: hidden;
        // border: 1px solid black;
    }

    .cb-print-nowrap {
        white-space:nowrap;
    }

    .cb-print-blanks {
        height: 0.45in;
        width: 3.95in;        
        // background-color: blue;
        
    }

    .cb-print-top-box{
        display: inline-block;
        visibility: visible !important;
        height: 100%;
        @include box-shadow;
    }

    .cb-print-top-text{
        visibility: visible !important;
        position: relative;
        bottom: -0.275in;
        font-size: 0.75em;
        color: grey;
        // left: 0px;
    }

    .cb-print-top-flags{
        width: 1.34in;
    }

    .cb-print-top-deposit{
        width: 0.75in;
    }

    .cb-print-deposit-value {
        position: absolute;
        left: 1.38in;
        top: 0.05in;
        font-size: 1.4em;
    }

    .cb-print-top-gold-credit {
        width: 0.75in;
    }

    .cb-print-total {
        width: 0.986in;
    }

    .cb-print-customer-info {
        height: 0.85in;
        top: 0.5in;
        width: 2.45in;        
        font-size: 1.3em;
        padding-left: 30px;
        @include box-shadow;
        overflow: hidden;        
    }

    .cb-print-customer-icon {
        left: 0px;
        // top: 5px;
    }

    .cb-print-note {
        // top: 0in;
        top: 2in;
        height: 0.99in;
        // left: 4.05in;
        width: 3.95in;        
        // height: 1.5in;
        padding: 5px;
        @include box-shadow;        
        
    }

    .cb-print-job-num {
        top: 1.4in;
        width: 1.05in;
        height: 0.55in;
        // height: 0.55in;
        left: 1.4in;
        font-size: 1.75em;
        line-height: 2.25em;
        text-align: center;
        @include box-shadow;
        // padding-left: 40px;        
        
    }

    .cb-employee {
        top: 0.5in;
        width: 1.45in;
        height: 0.4in;
        left: 2.5in;
        @include box-shadow;        
        padding: 3px;
        line-height: 1.5em;
        font-size: 1.5em;
        text-align: center;
    }

    .cb-print-estimate {
        height: 1in;
        top: 0.95in;
        left: 2.5in;
        width: 1.45in;
        @include box-shadow;        
        padding: 3px;
        line-height: 1.1em;
        
    }

    .cb-print-est-amt {
        visibility: visible !important;
        font-size: 1.2em;
        font-weight: bold;
        text-align: center;
        margin-top: 3px;
    }

    .cb-print-visible {
        visibility: visible !important;
    }

    .cb-print-est-note {
        font-size: 0.9em;
        visibility: visible !important;
        line-height: 0.9em;
    }

    .cb-print-due {
        top: 1.4in;
        width: 1.35in;
        height: 0.55in;
        @include box-shadow;
        font-size: 1.25em;
        // text-align: center;
        // padding-left: 0.5in;
    }

    .cb-print-jobicon {
        padding-right: 5px;
    }

    .cb-print-dates {
        padding-left: 0.3in;
    }

    .cbPrintRed {
        color: red !important;        
    }

    .cb-print-alarm-icon {
        font-size: 50px !important;
        left: 5px;
        line-height: 1.1em !important;
    }

    .cb-print-work-icon {
        font-size: 40px !important;
        left: 5px;
        line-height: 1.4em !important;
    }

    .cb-print-images{
        // top: 2.5in;
        top: 0in;
        width: 100%;
        height: 6in;
        column-count: 2;
        column-fill: auto;
        column-gap: 0.1in;
    }

    .cb-print-image-spacer {
        height: 3in;
        position: static !important;
    }

    .cb-print-image-cont {
        position: static !important;
        height: 0.99in;
        margin-bottom: 0.01in;
        width: 100%;
        padding: 1px;
    }

    .cb-print-image{
        position: static !important;
        float: left;
        height: 100%;
        border-top-left-radius: 3%;
        border-bottom-left-radius: 3%;
        @include box-shadow;
    }

    .cb-print-image-note {
        position: static !important;
        height: 0.97in;
        max-height: 0.97in;
        @include box-shadow;        
        overflow: hidden;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 3px;
        line-height: 1.1em;
    }

    .cb-print-logo {
        width: 3.4in;
        top: 6.2in;
        left: 0.25in;
    }

    .cb-print-customer-name {
        top: 7.4in;
        font-weight: bold;
        margin-left: 0.25in;
    }

    .cb-print-cus-images {
        top: 7.6in;
        width: 100%;
        height: 3in;
        column-count: 2;
        column-fill: auto;
        column-gap: 0.1in;
        text-align: center;
        line-height: 0em;
    }

    .cb-print-cus-img-cont {
        position: static !important;
        height: 1.49in;
        padding: 1px;
        display: inline-block;
    }

    .cb-print-cust-img {
        position: static !important;
        height: 100%;

        @include box-shadow;
    }
    
    .cb-print-cus-job-info {
        left: 4.05in;
        width: 2.45in;
        height: 1.3in;
        top: 6.25in;
        @include box-shadow;
    }

    .cb-print-cus-estimate {
        top: 6.25in;
        width: 1.45in;
        height: 1.3in;
        @include box-shadow;
        left: 6.55in;       
    }

    .cb-print-cus-warning {
        top: 10in;
        font-size: 1.2em;
        left: 4.25in;
        font-weight: bold;
        -webkit-text-stroke: 1px white;
        text-align: center;
    }

    .cb-print-credit-header {
        top: 0in;
        font-size: 2em;
        left: 0in;
        font-weight: bold;
    }

    .cb-print-credit-sub-header {
        top: 0.4in;
        font-size: 1.5em;
        left: 0in;
    }

    .cb-print-customercredit-info {
        top: 0.5in;
        width: 50%;
    }

    .cb-print-credit-employee {
        top: 1.35in;
    }

    .cb-print-credit-date {
        top: 0.5in;
        left: 4in;
    }

    .cb-print-credit-total {
        top: 0.65in;
        left: 4in;
        margin-top: 5px;
        font-weight: bold;
        border-bottom: 1px solid black;
        border-top: 1px solid black;
    }

    .cb-print-credit-warning {
        font-weight: bold;
        color: red;
        font-size: 1.75em;
        top: 1.7in;
    }

    .cb-print-credit-item-cont {
        position: static !important;
    }

    .cb-print-credit-table {
        position: static !important;
        margin-top: 10px !important;
        margin-bottom: 10px !important;
        border-collapse: collapse;
    }

    table, tr, td, th {
        // border: 2px solid black !important;
        // border-collapse: collapse;
        border: none !important;
    }

    td {
        padding-left: 6px;
        padding-right: 6px;
        padding-top: 3px;
        padding-bottom: 3px;
        // border: 1px solid black !important;
        text-align: left;
    }

    th:nth-child(even), td:nth-child(even) {
        background: #EBEBEB;
    }

    th {
        padding-left: 6px !important;
        padding-right: 6px !important;
        text-align: left;
        border: none;
        border-bottom: 1px solid black !important;
    }

    tfoot {
        border-top: 1px solid black !important;
        font-weight: bold;
        background: none !important;
    }

    .cb-print-table-note {
        position: static !important;
        margin-bottom: 10px;
    }

    .cb-print-credit-images-cont {
        height: 7in;
        top: 2in;
    }

    .cb-print-credit-img-cont {
        position: static !important;
        height: 2.5in;
        padding: 1px;
        display: inline-block;
    }

    .cb-print-credit-img {
        position: static !important;
        height: 100%;

        @include box-shadow;
    }

    .cb-print-manual-lines {
        position: absolute !important;
        top: 9in;
        height: 1in;
        width: 4in;
    }

    .cb-print-signature-line {
        border-bottom: 2px solid black;
        font-weight: bold;
        width: 4in;
    }

    .cb-print-customercustom-info {
        top: 1in;
        width: 50%;
        padding-left: .5cm;
        padding-top: .25cm;
        padding-bottom: .25cm;
        height: 1.1in;
        @include box-shadow;
    }

    .cb-print-custom-estimate {
        top: 3.4in;
        width: 50%;
        @include box-shadow;
    }

    .cb-print-custom-logo {
        width: 3.5in;
        top: 0in;
        left: 55%;
    }

    .cb-print-custom-contact-info {
        position: absolute !important;
        width: 45%;
        left: 55%;
        text-align: center;
        top: 1.5in;
        font-size: 0.75em;
    }

    .cb-print-custom-warning {
        position: absolute !important;
        left: 55%;
        top: 2.9in;
        font-size: 0.75em;
    }

    .cb-print-custom-signature {
        position: absolute !important;
        left: 55%;
        top: 2in;
        font-size: 1em;
    }

    .cb-print-underline {
        border-bottom: 1px solid black;
        width: 3.5in;
    }

    .cb-align-right {
        text-align: right;
    }

    .cb-print-custom-note {
        padding-top: 0.25cm;
        padding-left: .5cm;
        padding-right: .5cm;
        padding-bottom: 0.25cm;
        top: 2.25in;
        min-height: 1in;
        width: 50%;
        @include box-shadow;
    }

}

@media screen {

    .cb-print {
        display: none !important;

    }

}
// /////////////////////////////
// Custom Sheets Screen
// /////////////////////////////
.cb-card-title {
    background-color: #03A9F4;
}

.cb-round-card {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.cb-selected-top {
    transition: top 0.5s ease;
    // top: -5px;
}

.cb-unselected-top {
    transition: top 0.5s ease;
    // top: 0px;
}

.cb-new-card-button {
    height: 6em;
    width: 6em;
}

.cb-new-card-button-top {
    margin-bottom:0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    z-index: 1;
}

.cb-new-card-button-bottom {
    margin-top: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.cb-extra-large-icon {
 font-size: 4.25em;
}

.cb-float-right {
    float: right;
}

.cb-spacer {
    min-width: 4em;
}

.cb-card-min {
    min-width: 15em;
}

.cb-selected-highlight {
    background-color: #FFA000;
    height: 3px;
    position: relative;
}

.cb-small-btn {
    height: 22px;
    top: 8px;  
}

.cb-small-td {
    height: 24px !important;
}

.cb-small-estimate-title {
    padding-top: 5px !important;
    padding-bottom: 0px !important;
}

.cb-white-text {
    color: white !important;
}